---
import content from '../../content.json'
---

<!-- Header -->
<header
  id="header"
  class="h-screen bg-cover p-8"
  style={`background-image: url('/assets/overlay.png'),
    url('${content.presentation.cover}');`}
>
  <div class="h-full flex flex-col justify-between items-center lg:items-end">
    <div class="w-full text-center">
      <h1 class="!text-4xl !text-white">
        {content.presentation.name}
      </h1>
      <span class="text-sm">{content.presentation.role}</span>
    </div>
    <ul class="icons">
      <li>
        <a
          href={content.social.instagram}
          target="_blank"
          class="icon brands fa-instagram"></a>
      </li>
      <li>
        <a
          href={content.social.whatsapp}
          target="_blank"
          class="icon brands fa-whatsapp"></a>
      </li>
      <li>
        <a
          href={content.social.email}
          target="_blank"
          class="icon solid fa-envelope"></a>
      </li>
    </ul>
  </div>
</header>
